In [50]:
%%time
import pandas as pd
import xml.etree.ElementTree as ET

# Import dataset and convert it to Pandas dataframe
root = ET.parse('korpus_scraper/dataset-negiacie-z-korpusu.xml').getroot()

df = pd.DataFrame.from_records(
    [(token.text,
      1 if token.text.startswith('ne') else 0, 
      1 if token.attrib['pos'].endswith('-') else 0) for token in root.iter('token')],
    columns=('token', 'starts_with_ne', 'is_negation')
)

# Split to train and test
split = 0.8
train = df[:int(split*len(df))]
test = df[int((1-split)*len(df)):]

CPU times: user 180 ms, sys: 8 ms, total: 188 ms
Wall time: 187 ms

In [51]:
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>token</th>
      <th>starts_with_ne</th>
      <th>is_negation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Pretože</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Marekovo</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>správanie</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>nebolo</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>prejavom</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model = GaussianNB()
X = train[['starts_with_ne']]
y = train['is_negation']

model.fit(X, y)

GaussianNB()

In [37]:
p = model.predict([[1], [0], [0]])
p

array([1, 0, 0])

In [45]:
X_test = test[['starts_with_ne']]
y_test = test['is_negation']
y_pred_class = model.predict(X_test)

print(y_pred_class)

[1 0 0 ..., 0 1 0]

In [46]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.98472874205240957

In [47]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[15669,   156],
       [  101,   903]])

In [48]:
# print message text for the false positives (ham incorrectly classified as spam)
X_test[y_test < y_pred_class]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>starts_with_ne</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4227</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4263</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4299</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4303</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4351</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4385</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4431</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4463</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4510</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4512</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4514</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4546</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4808</th>
      <td>1</td>
    </tr>
    <tr>
      <th>4827</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5014</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5150</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5175</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5275</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5298</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5364</th>
      <td>1</td>
    </tr>
    <tr>
      <th>5847</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6207</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6397</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6404</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6440</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6889</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6917</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6935</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6941</th>
      <td>1</td>
    </tr>
    <tr>
      <th>6969</th>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>18101</th>
      <td>1</td>
    </tr>
    <tr>
      <th>18199</th>
      <td>1</td>
    </tr>
    <tr>
      <th>18487</th>
      <td>1</td>
    </tr>
    <tr>
      <th>18686</th>
      <td>1</td>
    </tr>
    <tr>
      <th>18884</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19189</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19341</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19461</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19540</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19594</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19707</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19746</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19779</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19926</th>
      <td>1</td>
    </tr>
    <tr>
      <th>19990</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20018</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20023</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20079</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20089</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20168</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20370</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20384</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20386</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20420</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20473</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20487</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20502</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20787</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20806</th>
      <td>1</td>
    </tr>
    <tr>
      <th>20986</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>156 rows × 1 columns</p>
</div>

In [56]:
# row by index
df.iloc[[4227]]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>token</th>
      <th>starts_with_ne</th>
      <th>is_negation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4227</th>
      <td>nezabudnuteľný</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>